<div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text">© <a href="{% if BASE_URL %}{{ BASE_URL }}{% endif %}">Éxpertise opendata</a> | Conception <a href="https://omre.netlify.app">Onit365</a></p>
      </div>
</div>
